body {
  overflow: hidden;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.grid-row, .square {
  flex: auto;
}

.grid {
  width: 100vw;
  height: 100vw;
}

.undraggable {
  user-select: none;
}