body {
  display: flex;
  background-color: white;
  font-family: 'abel', sans-serif;
  overflow: hidden;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.grid-row, .square {
  flex: auto;
}

.grid {
  width: 100vw;
  height: 100vw;
}

h1 {
  font-size: 5rem;
  text-align: center;
}
  
.undraggable {
  user-select: none;
}

.menu {
  height: 100vw;
  width: 4%;
  background-color: #cbcbcb; 
  color: #fff;
  padding: 16px; 
}

.menu h2 {
  font-size: 1rem;
  margin-bottom: 16px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
}

.menu ul {
  list-style: none; 
  margin: 0;
  padding: 0;
}

.menu li {
  margin-bottom: 8px;
}

.menu button {
  background-color: #cbcbcb; 
  border: none; 
  cursor: pointer; 
  padding: 8px 16px; 
  width: 100%;
}

.icon-image {
  width: 80%;
  height: 80%;
  transition: transform 0.2s ease-in-out;
}

.menu button:hover .icon-image {
  transform: scale(1.2);
}

.color-picker-button {
  display: inline-block;
  cursor: pointer;
  border: none;
  padding: 8px 16px; 
  transition: transform 0.2s ease-in-out;
}

.color-picker-button:hover {
  transform: scale(1.2);
}

input[type="color"] {
  display: none;
}
