body {
  display: flex;
  background-color: white;
  font-family: 'abel', sans-serif;
  overflow: hidden;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.grid-row, .square {
  flex: auto;
}

.show-tracks {
  border: 1px solid rgb(214, 214, 214, .3);
}

.grid {
  width: 100vw;
  height: 100vw;
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><line x1="0" y1="8" x2="16" y2="8" stroke="black" stroke-width="2"/><line x1="8" y1="0" x2="8" y2="16" stroke="black" stroke-width="2"/></svg>') 10 10, crosshair;
}

h1 {
  font-size: 5rem;
  text-align: center;
}
  
.undraggable {
  user-select: none;
}

.menu {
  height: 100vw;
  width: 4%;
  background-color: #cbcbcb; 
  color: #fff;
  padding: 16px; 
}

.menu h2 {
  font-size: 1rem;
  margin-bottom: 16px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
}

.menu ul {
  list-style: none; 
  margin: 0;
  padding: 0;
}

.menu li {
  margin-bottom: 8px;
}

.menu button {
  background-color: #cbcbcb; 
  border: none; 
  cursor: pointer; 
  padding: 8px 16px; 
  width: 100%;
}

.icon-image {
  width: 80%;
  height: 80%;
  transition: transform 0.2s ease-in-out;
}

.menu button:hover .icon-image {
  transform: scale(1.2);
}

.menu button:active .icon-image {
  transform: scale(1);
}

.color-picker-button {
  display: inline-block;
  cursor: pointer;
  border: none;
  padding: 8px 16px;
  transition: transform 0.2s ease-in-out;
}

.color-picker-button:hover {
  transform: scale(1.2);
}

input[type="color"] {
  border: none;
  vertical-align: middle;
}

#color-picker {
  height: 0px;
  width: 14px;
  border-radius: 50%;
  background: none;
}

#color-picker::-webkit-color-swatch-wrapper {
  padding: 0;
}

#color-picker::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
  height: 14px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropbtn {
  background-color: #cbcbcb;
  border: none;
  cursor: pointer;
  padding: 8px 16px;
  width: 100%;
}

.icon-image {
  width: 80%;
  height: 80%;
  transition: transform 0.2s ease-in-out;
}

.dropbtn:hover .icon-image {
  transform: scale(1.2);
}

.dropdown-content button {
  background-color: #c5c5c5;
  border: none;
  cursor: pointer;
  padding: 8px 16px;
  width: 100%;
  border: 2px solid #8d8d8d;
  border-radius: 5px;
}

.dropdown-content button:hover {
  transform: scale(1.2);
}

.dropdown-content button:active {
  transform: scale(1);
}

.small-brush {
  width: 50%;
  height: 50%;
}	

.medium-brush {
  width: 80%;
  height: 80%;
}	

.big-brush {
  width: 100%;
  height: 100%;
}	

#cursor-icon {
  position: absolute;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: contain;
  pointer-events: none;
}

.selected .icon-image {
  border-bottom: 3px solid black;
}